<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXpL3pLfha_8e3UtTtS_qqNKdt4ygnOG0</string>
	<key>GCM_SENDER_ID</key>
	<string>934519095067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pcj-catequese</string>
	<key>STORAGE_BUCKET</key>
	<string>pcj-catequese.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934519095067:ios:1fb3b0017f155ffed51dbe</string>
</dict>
</plist>